@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles and soft reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --raisin-black: #212633;
    --light-violet: #8b5cf6;
    --darker-violet: #4c1d95;
    --platinum-color: #E7E8EC;
    --pale-grey: #C0C0C0;
}

body{
    font-family: "Quicksand", sans-serif, sans-serif;
    line-height: 1.6;
    color: var(--raisin-black);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--raisin-black);
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

/* navbar */

.navbar{
    background: linear-gradient(to right, var(--light-violet), var(--darker-violet));
    color: var(--platinum-color);
    height: 70px;
    z-index: 100;
    width: 100%;
    position: sticky;
    top: 0;
}

.container.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container nav > ul > li {
    display: inline-block;
    padding: 0 10px;
    color: var(--platinum-color);
}

.container nav > ul > li a{
    color: var(--platinum-color);
    padding-bottom: 5px;
}

.navbar a:hover{
    border-bottom: 2px solid var(--platinum-color);
}

/* Showcase section */

.showcase{
    height: 400px;
    background: linear-gradient(to right , var(--light-violet), var(--darker-violet));
    color: var(--platinum-color);
}

.showcase-form{
    position: relative;
    top: 70px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 1;
    justify-self: flex-end;
}

.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input{
    background: var(--platinum-color);
    border: none;
    border-bottom: 2px solid var(--pale-grey);
    width: 100%;
    padding: 3px;
    font-size: 1rem;
    color: var(--raisin-black);
}

.showcase-form input:focus, .showcase-form input:active{
    outline: none;
    border-bottom: 2px solid var(--raisin-black);
}

.showcase p{
    margin: 20px 0;
}

.showcase h1{
    font-size: 2.5rem ;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
}

/* stats section */

.stats{
    padding-top: 100px;
}

.grid.grid-3{
    grid-template-columns: repeat(3, 1fr);
}

.stats p{
    margin-top: 0;
}